@media (max-width: 768px) {

    .survey__row {
        display: block;
    }

    #product_itens .card{
        width: 80vw;
        padding: 1vw;
        justify-content: space-evenly;
    }

    #product_itens .card__row{
        display: flex;
    }

    #product_itens .card__img{
        margin: auto;
        height: auto;
        width: 90%;
    }
}