@media (max-width: 768px) {

    .header {
        background-color: transparent;
    }

    .header button {
        border: solid 1px var(--mediumGray);
        padding: 10px 20px;
        margin: 0 1vw;
        width: 15vw;
        color: var(--mediumGray);

    }

    .header__title {
        padding-bottom: 1vh;
        background-color: var(--darkGray);
    }

    .header h1 {
        font-size: 40px;
        text-align: left;
        margin-left: 3vw;
        margin-block-end: 0px;
    }

    .header h2 {
        font-size: 20px;
        text-align: left;
        margin-left: 3vw;
    }

    .header p {
        font-size: 14px;
        text-align: left;
        margin: 0 2vw 6vh 3vw;
    }

    .header__row {
        display: block;
        height: 20vh;
        background: linear-gradient(
                to bottom left, var(--darkGray) 0%,
                var(--darkGray) 50%,
                var(--white) 50%,
                var(--white) 100%);
    }

    .header__column {
        width: 80%;
        margin: auto;
    }

    .header button {
        width: 35vw;
    }

    #header__column_top {
        margin: auto;
    }

    #header__column_bottom {
        margin: auto;
        margin-top: 4vh;

    }

    .header__border_bottom {
        display: none;
    }

    .survey {
        padding-top: 0;
    }

    .survey__row {
        display: block;
        width: 100%;
    }

    .survey__column_text {
        width: 95vw;
        padding: 0;
        margin: auto;
        margin-left: 5vw;
    }

    .survey__column_form {
        width: 90vw;
        margin: auto;
        margin-top: 4vh;
    }

    #survey__inputs input {
        padding: 0.7vh;
        margin-bottom: 2vh;
        width: 95%;
    }

    #survey__button {
        padding: 1.3vh;
        font-size: 16px;
    }

    .products {
        width: 95%;
    }

    #product_itens .card {
        width: 95vw;
        padding: 1vw;
        padding-top: 5%;
    }

    #product_itens .card__row {
        display: flex;
        width: 95vw;
        margin: auto;
    }

    .card__column_left  .card__img {
        width: 30vw;
        height: auto;
        max-height: 80%;
        margin-left: 5vw;
    }

    .card__row{
        width: 95vw;
    }

    .card__column_right {
        margin-top: 4vh;
        /*margin-left: 5vw;*/
        width: 45vw;
    }

    .card__column_left {
        width: 50vw;
    }

    .card__button_buy {
        margin-top: 0.5em;
        width: 40vw;
        padding: 0.75vh 0;
        font-size: 16px;
    }

    .products .card__description{
        font-size: 0px;
    }

    .products__button button {
        width: 65vw;
        font-size: 16px;
        margin-top: 4vh;
        margin-left: auto;
        margin-right: auto;

    }

    .newsletter_form__row {
        display: block;
    }

    .newsletter_form__column input{
        margin: 2vh 0;
        width: 100vw;
        margin: auto;
    }

    .newsletter_form__column label{
        margin-top: 2vh;
        margin-bottom: 0;
    }

    .newsletter_form__column{
        width: 95vw;
    }

    .newsletter {
        width: 95%;
    }

    .newsletter h2{
        margin-bottom: 6vh;
    }

    .newsletter p{
        margin-bottom: 2vh;
    }

    .newsletter button{
        width: 65vw;
        font-size: 16px;
        padding: 1.2vh 0;
    }

    .footer {
        padding-bottom: 4vh;
    }

    .footer__border_top {
        height: 8vh;
    }

    .footer__text {
        margin-top: 0;
    }
}