@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("./fonts/helveticaneue-bold.ttf");
}

@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url("fonts/helvetica-neue-medium.ttf");
}

@font-face {
    font-family: "HelveticaNeue-Regular";
    src: url("fonts/helvetica-neue-medium.ttf");
}

:root {
    --darkGray: #707070;
    --mediumGray: #888888;
    --fairGray: #00000029;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    margin: 0;
    padding: 0;
    color: var(--mediumGray);
    overflow-x: hidden;
    font-family: HelveticaNeue-Regular;
}

h1 {
    font-family: HelveticaNeue-Bold;
}

.header h1 {
    margin-block-start: 0px;
}

.header h2 {
    margin-block-end: 0px;
    font-size: 15px;
    padding-top: 5vh;
}

.header {
    background-color: var(--darkGray);
    color: var(--white);
    text-align: center;
}

.header__border_bottom {
    height: 20vh;
    background: linear-gradient(
            to bottom left, var(--darkGray) 0%,
            var(--darkGray) 50%,
            var(--white) 50%,
            var(--white) 100%);
}

.header button {
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 0 1vw;
    width: 15vw;
    cursor: pointer;
    color: var(--mediumGray);
}

.header p {
    font-size: 12px;
    margin-bottom: 10vh;
}

.survey{
    padding-top: 4vh;
}

.survey h2{
    font-size: 20px;
}

.survey p{
    font-size: 12px;
    max-width: 90%;
}

.survey__row {
    display: flex;
    margin: auto;
    width: 60%;
    color: var(--mediumGray);
}

.survey__column_text {
    flex: 63%;
    padding-right: 3%;
}

.survey__column_form {
    flex: 33%;
}

#survey__inputs {
max-width: 100%;
}

#survey__inputs input{
    width: 100%;
    margin-bottom: 4vh;
    cursor: pointer;
    font-size: 12px;
}

#survey__radio_button{
    display: inline;
    font-size: 12px;
    margin-bottom: 4vh;
}

#survey__radio_button input{
    width: 6%;
    margin: 0px 3px 0px 5px;
}

#survey__button{
    margin-top: 2vh;
    position: relative;
    width: 100%;
    padding: 2px 6px;
}

.survey__column_form label{
    font-size: 12px;
    padding-top: 4vh;
}

.button_products{
    display: flex;
    margin: 7vh 0 15vh 0;
    justify-content: center;

}

.products {
    margin: auto;
    width: 60%;
    height: 90%;
    padding-top: 5%;
}

.products h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.products h2 span {
    background: #fff;
    padding: 0 10px;
}
#product_itens{
    display: flex;
    flex-wrap: wrap ;
}

#product_itens .card{
    width: 10vw;
    padding: 2vw;
    justify-content: space-evenly;
}

.name_card {
    font-size: 14px;
    margin-start-end: 0em;
    margin-block-end: 0em;
}

.description_card,.old_price_card, .installments_card {
    font-size: 12px;
    margin-start-end: 0em;
    margin-block-end: 0em;
}

.price_card{
    font-size: 16px;
}

.img_card{
    margin: auto;
    width: auto;
    height: 40%;
}

.newsletter{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 4vh;
}

.newsletter p{
    font-size: 14px;
    margin-bottom: 10vh;
}

.newsletter h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    font-size: 18px;
    line-height: 0.1em;
    margin-bottom: 10vh;
}

.newsletter h2 span {
    background: #fff;
    padding: 0 10px;
}

.newsletter_form__row form{
    float: left;
    width: 60%;
    color: var(--mediumGray);
}

.newsletter_form__column {
    flex: 50%;
    padding-right: 3%;
}

.footer {
    background-color: var(--darkGray);
    color: var(--white);
    text-align: center;
    font-size: 12px;
    padding-bottom: 8vh;
}

.footer__border_top {
    height: 20vh;
    background: linear-gradient(
            to bottom right, var(--white) 0%,
            var(--white) 50%,
            var(--darkGray) 50%,
            var(--darkGray) 100%);
}

.footer__text {
    margin-top: 8vh;
}