@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("./fonts/helveticaneue-bold.ttf");
}

/*@font-face {*/
/*    font-family: "HelveticaNeue-Medium";*/
/*    src: url("fonts/helvetica-neue-medium.ttf");*/
/*}*/

@font-face {
    font-family: "HelveticaNeue-Regular";
    src: url("fonts/helvetica-neue-medium.ttf");
}

:root {
    --darkGray: #707070;
    --mediumGray: #888888;
    --fairGray: #00000029;
    --white: #FFFFFF;
    --black: #000000;
}

a{
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    color: var(--mediumGray);
    overflow-x: hidden;
    font-family: HelveticaNeue-Regular;
}

button{
    color: var(--mediumGray);
    background-color: var(--white);
    border-color: var(--mediumGray);
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
}

h1 {
    font-family: HelveticaNeue-Bold;
}

.header h1 {
    margin-block-start: 0px;
}

.header h2 {
    margin-block-end: 0px;
    font-size: 15px;
    padding-top: 5vh;
}

.header {
    background-color: var(--darkGray);
    color: var(--white);
    text-align: center;
}

.header__border_bottom {
    height: 20vh;
    background: linear-gradient(
            to bottom left, var(--darkGray) 0%,
            var(--darkGray) 50%,
            var(--white) 50%,
            var(--white) 100%);
}

.header button {
    border: none;
    padding: 10px 20px;
    margin: 0 1vw;
    width: 15vw;
    color: var(--mediumGray);
}

.header p {
    font-size: 12px;
    margin-bottom: 10vh;
}

.header__row{
    display: flex;
}

.header__column{
    width: 40%;
}

#header__column_top{
    margin-left: 15vw;
}

#header__column_bottom{
    margin-right: 15vw;
}

html {
    scroll-behavior: smooth;
}

.survey{
    padding-top: 4vh;
}

.survey h2{
    font-size: 20px;
}

.survey p{
    font-size: 12px;
    max-width: 90%;
}

#survey__error{
    margin-top: 2vh;
    color: red;
    font-size: 14px;
}

.survey__row {
    display: flex;
    margin: auto;
    width: 60%;
    color: var(--mediumGray);
}

.survey__column_text {
    flex: 63%;
    padding-right: 3%;
    line-height: 2.5vh;
}

.survey__column_form {
    flex: 33%;
}

#survey__inputs {
    max-width: 100%;
}

#survey__inputs input{
    width: 100%;
    margin-bottom: 4vh;
    cursor: pointer;
    font-size: 12px;
}

#survey__radio_button{
    display: inline;
    font-size: 12px;
    margin-bottom: 4vh;
}

#survey__radio_button input{
    width: 6%;
    margin: 0px 3px 0px 5px;
}

#survey__button{
    margin-top: 2vh;
    position: relative;
    width: 100%;
    padding: 2px 6px;
}

.survey__column_form label{
    font-size: 12px;
    padding-top: 4vh;
}

.products__button button{
    display: flex;
    margin: 2vh auto 13vh auto;
    padding: 1.5vh 3.5vw;
}

.products {
    margin: auto;
    width: 60%;
    height: 90%;
    padding-top: 5%;
}

.products h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 18px;
}

.products h2 span {
    background: #fff;
    padding: 0 10px;
}

#product_itens{
    display: flex;
    flex-wrap: wrap ;
}

#product_itens .card{
    width: 12vw;
    padding: 1vw;
    justify-content: space-evenly;
}

.card p{
    font-size: 14px;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
}

.card__button_buy{
    width: 100%;
    padding: 0.75vh 0;
    text-align: center;
    margin: auto;
    margin-top: 0.5em;
}

.products .card__description,.card__old_price, .card__installments {
    font-size: 12px;
    margin-start-end: 0em;
    margin-block-end: 0em;
}

.products .card__price{
    font-size: 16px;
}

.products .card__img{
    margin: auto;
    /*margin-left: 3vw;*/
    width: auto;
    max-height: 30%;
}

.newsletter{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 4vh;
}

.newsletter button{
    padding: 0.75vh 2vw;
}

.newsletter_form__column label{
    margin-bottom: 1vh;
}

.newsletter p {
    font-size: 14px;
    margin-bottom: 10vh;
}

.newsletter h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    font-size: 18px;
    line-height: 0.1em;
    margin-bottom: 10vh;
}

.newsletter h2 span {
    background: #fff;
    padding: 0 10px;
}

#newsletter__error{
    margin-top: 2vh;
    color: red;
    font-size: 14px;
}

.newsletter_form__row{
    display: flex;
    text-align: left;
    margin: auto;
    color: var(--mediumGray);
    margin-bottom: 6vh;
}

.newsletter_form__column {
    width: 80%;
    display: grid;
    margin: auto 2%;
    font-size: 12px;
    align-content: space-around;
}

.newsletter_form__column input{
    padding-top: 1vh;
    width: 100%;
    margin-top: 0.75vh;
}

.footer {
    background-color: var(--darkGray);
    color: var(--white);
    text-align: center;
    font-size: 12px;
    padding-bottom: 8vh;
}

.footer__border_top {
    height: 20vh;
    background: linear-gradient(
            to bottom right, var(--white) 0%,
            var(--white) 50%,
            var(--darkGray) 50%,
            var(--darkGray) 100%);
}

.footer__text {
    margin-top: 8vh;
}